
header 
{   
    @include colores($color-oscuro,$color-fondo);
    font-size: $fuente-subtitulo;
    font-family: "Bebas Neue";
    ul {
        list-style: none;
        a {
            text-decoration: none;
            font-size: $fuente-subtitulo;
            &:hover, &:active,&:focus
            {
                background-color: $color-fondo;
                border-radius: 3px;
                img {
                    filter: invert(100%);}
                span {
                color: $color-oscuro;
                };
            }
        span{
            color: $color-fondo;
        }
        }
    }
}




