@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/bebasNeue.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

$color-fondo: #f0f0f5;
$color-tarjeta: #f5f5fa;
$color-oscuro: #0f0c0c;
$color-rojo: #ED2100;
$fuente-titulo: 48px;
$fuente-subtitulo: 28px;
$fuente-general: 18px;  

@mixin media() {
    @media (min-width: 768px) {
        @content
    }
    }
