/*Mobile First*/ 
/*Reseteo*/
* {
    margin: 0;
    padding: 0;
}
:root /*Declaración de variables*/
{
    --color-fondo: #f0f0f5;
    --color-tarjeta: #f5f5fa;
    --color-oscuro: #0f0c0c;
    --color-terciario: #ED2100;
    --fuente-titulo: 50px;
    --fuente-subtitulo: 24px;
    --fuente-general: 18px;
}
@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/bebasNeue.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
.fuentePrincipal 
{
    font-family: "Bebas Neue",'Arial Narrow', Arial, sans-serif;
    color: var(--color-oscuro);
    font-weight: bold;
}
h1 {
    font-size: var(--fuente-titulo);
    text-align: center;

}
h2 {
    font-size: var(--fuente-subtitulo);
    margin-bottom: 5px;
}

h3 {
    font-family: "Roboto",'Arial Narrow', Arial, sans-serif;
}
body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: var(--fuente-general);
    background-color: var(--color-fondo);
    color: var(--color-oscuro);
}
.fullWidth {
    width: 100%;
}
.centradoFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.centradoFlexH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.grilla 
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                        "header"
                        "main"
                        "footer";          
}

/*definir areas de grilla*/
footer {
    background-color: var(--color-oscuro);
    grid-area: footer;
    text-align: center;
}

header 
{
    grid-area: header;
    background-color: var(--color-oscuro);
}

main {
    grid-area: main;
    padding: 5px 20px;
}


nav ul {
    list-style: none;
}
nav li {
    padding: 0 10px;
}
nav span {
    display: none   ;
}
ul {
    margin: 0;
}
a, footer {
    text-decoration: none;
    color: var(--color-fondo);
}

header div {
    width: 100px;
}

.texto {
    text-align: center;
}

.video {
    background-color: var(--color-tarjeta);
    box-shadow: 1px 1px 5px 0px var(--color-oscuro)
}

.video iframe {
    min-height: 240px;
    min-width: 300px;
    aspect-ratio: 16/9;
    border-style: none;
    width: 100%;
    box-sizing: content-box;
}

.logo {
    width: 100px;
}

.logosFooter div {
    width: 60px;
}

.separarArriba {
    margin-top: 15px;
}

.acceso {
    background-color: var(--color-terciario);
    color: var(--color-fondo);
}

.atajo:hover{
    background-color: var(--color-fondo);
    color: var(--color-oscuro);
    padding: 1px;
    border-radius: 3px;
}

.tituloVideo {
    background-color: #101014;
    color: var(--color-tarjeta);
}

.margin10 {
    margin: 10px;
}

.padding10 {
    padding: 10px;
}

.bordeRedondoArriba {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bordeRedondoAbajo {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card img {
    box-sizing: border-box;
}

@media screen and (min-width: 768px)
{

    :root /*Declaración de variables*/
    {
        --fuente-titulo: 70px;
        --fuente-subtitulo: 32px;
        --fuente-general: 20px;
    }
    #container 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
                            "header header"
                            "main main"
                            "footer footer"; 
        gap: 10px;                 
    }   

    .centradoFlex 
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .redes {
        width: 25%;
    }
    
    .video {
        max-width: 1024px;
    }

    #pie {
        align-items: center;
    }

    nav span {
        display:initial;
    }
    nav img {
        display: none;
    }
}
